# Create a .env file copy of this file

# Postgres Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=liwaisi_iot_db

# MQTT Broker
MQTT_BROKER=ws://localhost:8083
MQTT_CLIENT_ID=liwaisi_iot_hub
MQTT_USERNAME=liwaisi_iot_hub
MQTT_PASSWORD=liwaisi_iot_hub

# Environment dev, stg, prod
ENV=dev